@import"colors.scss";
.header{
  color:$primary;
  font:{
    weight:500;
  }
}
.shadow-box{
  -webkit-box-shadow: 2px 8px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 8px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 8px 5px 0px rgba(0,0,0,0.75);
}
.wrapper-menu{
  display: flex;
  margin-bottom: 5px;
  font-weight: inherit;
  justify-content: space-between;
  margin-left: 3rem;
  margin-right: 3rem;
  &:nth-child(2){
    justify-content: center;
  }
}
.container{
  //flex-basis: 400px;
  display: flex;
  flex-flow: row; 
}

.help-user{
  display: flex;
  flex-flow: row;
  margin-top: 1rem;
  p{
    margin: .5rem;
  }
}
.contato{
  @extend .help-user;
}
.conta-quero{
  @extend .help-user;
}
.brand-quero{
  margin:1rem;
  height:5%;
}
.space{
  height: 50px;
  width: 1px;
  margin: .7rem;
  background-color: #dedede;
}
.fas{
  display: block;
  margin-top: 7%;
  font-size: 1.5rem;
}
.fab{
  @extend .fas;
}
.far{
  @extend .fas;
}
.fa-whatsapp{
  color:#25D366;
}
.navigation-quero{
  text-decoration: none;
  padding: 1rem;
  padding-left:3rem;
  background: $primary;
  .action{
    padding: 1rem;
    color: white;
  }
}
.wrapper-conta{
  padding: 1rem;
  padding-left:3rem;
  .links{
    color:initial;
    font-weight: 300;
  }
  .-visited{
    color:$primary;
  }
  .-mobile{
    display: none;
  }
}
